.topnav {
    text-align: center;
    color: white;
    margin-bottom: 80px
}

h1 {
  text-align: center;
  color: white;
}
h3 {
  text-align: center;
  color: white;
}
form {
  text-align: center;
  color: white;
}
a{
  text-align: center;
  color: white;
}
.Local {
  text-align: center;
  color: white;
  margin-top: 250px
}
.holder{
  text-align: center;
  color: black;
}
p{
  text-align: center;
  color: white;
}
body {
  background-image:url("images/Metal--Mock-up.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
