h1 {
  text-align: center;
  color: white;
}
form {
  text-align: center;
  color: white;
}
a {
  text-align: center;
  color: white;
}
.holder{
  text-align: center;
}
h3 {
  text-align: center;
  color: white;
}
body {
  background-image:url("images/Metal--Mock-up.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
