h1 {
  text-align: center;
  color: white;
}
form {
  text-align: center;
  color: white;
}
a{
  text-align: center;
  color: white;
}
button{
  text-align: center;
  color: black;
}
p{
  text-align: center;
  color: white;
}
body{
  background-color: gray;
  background-image: ![testimage](
       https://github.com/Buffjeremy/Buffjeremy.github.io/blob/master/images/Metal--Mock-up%20(1).jpg
      )
}
